In [7]:
# import requests, json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as spst
import chardet

In [2]:
# key = '6601299881'
# time_url = 'http://data.ex.co.kr/openapi/odtraffic/trafficAmountByRoute'
Busan ='140'
Seoul ='101'
# header =  { 'key' : key, 'type' : 'json', 'startUnitCode' : Seoul, 'endUnitCode': Busan }
# response = requests.post(time_url, headers=header)
# print(response)

In [29]:
path ='TCS_11_03_02_174596.csv'
# raw = open(path,'rb').read()
# encoding = chardet.detect(raw)['encoding']
data202202 = pd.read_csv(path, encoding='cp949').head()

In [17]:
data202202.iloc[1][0]//10000

2022.0

In [19]:
data202202.iloc[1][0]%10000//100

2.0

In [22]:
data202202.columns

Index(['집계일자', '집계시', '출발영업소코드', '도착영업소코드', 'TCS차종구분코드', '통행시간', 'Unnamed: 6'], dtype='object')

In [6]:
file_list =['TCS_11_03_02_663167.csv',
'TCS_11_03_02_687704.csv',
'TCS_11_03_02_796533.txt',
'TCS_11_03_02_903775.txt',
'TCS_11_03_02_918332.csv',
'TCS_11_03_02_174596.csv',
'TCS_11_03_02_183629.txt',
'TCS_11_03_02_564195.txt',
'TCS_11_03_02_598345.csv',
'TCS_11_03_02_621326.txt',
'TCS_11_03_02_631488.txt']

In [41]:
path ='TCS_11_03_02_183629.txt'
header = ['집계일자', '집계시', '출발영업소코드', '도착영업소코드', 'TCS차종구분코드', '통행시간']
data2022 = pd.read_csv(path, names=header, sep='|' , index_col=False)

In [42]:
data2022.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20190201    0        0      101          1    -1
1  20190201    0        0      101          2    -1
2  20190201    0        0      101          3    -1
3  20190201    0        0      102          1    -1
4  20190201    0        0      103          1    -1

In [21]:
file_list[0][-3:]

'csv'

In [45]:
name=[]
for path in file_list:
    if path[-3:] =='csv':
        df = pd.read_csv(path, encoding='cp949').head()
        year=df.iloc[1][0]//10000
        month=df.iloc[1][0]%10000//100
        name.append('data'+str(int(year))+'0'+str(int(month))+':' + path)
    if path[-3:] =='txt':
        df= pd.read_csv(path, names=header, sep='|' , index_col=False)
        year=df.iloc[1][0]//10000
        month=df.iloc[1][0]%10000//100
        name.append('data'+str(int(year))+'0'+str(int(month))+':' + path)
print(name)

['data202102:TCS_11_03_02_663167.csv', 'data202009:TCS_11_03_02_687704.csv', 'data201701:TCS_11_03_02_796533.txt', 'data201809:TCS_11_03_02_903775.txt', 'data202109:TCS_11_03_02_918332.csv', 'data202202:TCS_11_03_02_174596.csv', 'data201902:TCS_11_03_02_183629.txt', 'data2017010:TCS_11_03_02_564195.txt', 'data202001:TCS_11_03_02_598345.csv', 'data201909:TCS_11_03_02_621326.txt', 'data201802:TCS_11_03_02_631488.txt']